[API]
Key =
Token =

[Board]
Id =

[Card]
Fields = name,desc,idList

[Action]
Fields = data
Filter = commentCard
MemberCreator = false

[List]
BacklogId =
ClosedId =

[Input]
FilePath = files/import.xlsx
WorkbookName =